.form-control{
  width: 40%;
}


ul li{
  width: 50%;
  margin-bottom: 25px;
  color: white;
}
.rs{
  float: right;
}
#bi{
  color: white;
}
label{
  color: white;
}
button{
  color: white;
  border:none;
background-color: #22c1c3 ;
  margin-right: 10px;
}

body{
  background: linear-gradient(90deg, rgba(10,2,145,1) 0%, rgba(9,83,121,1) 0%, rgba(0,212,255,1) 100%);

}

.btn{
  margin-bottom: 50px;
}
